:root {
    --white: #edeff7;
    --background-secundary: #e1e2be;
    
    --test-color-principal: #ffffff;
    --test-color-principal1: #030abc;
    --test-color-principal2: #ffffff;

    --title-principal-size: 16px;
    --title-secundary-size: 14px;

    --montserrat: "Montserrat", sans-serif;
}

header {
    background-color: var(--white);
    border-bottom: 1px solid var(--white);
    border-radius: 16px;
}

section {
    background-color: var(--background-secundary);
}

nav {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 168px;
}

.logo {
    position: absolute;
    padding-left: 3rem;
    padding-top: 2.5rem;
    width: 12%;
    height: auto;
}

nav ul {
    background-color: rgb(71, 55, 55);
    border-radius: 16px;
    padding: 8px;
}

nav li {
    display: inline;
    padding: 16px;
}

.nav_link{
    color: var(--test-color-principal);
}

nav a {
    text-decoration: none;
    font-size: 24px;
}

body {
    font-family: var(--montserrat);
    background: var(--white);
}

main {
    display: block;
}

.homepage{
    padding: 3em;
    width: 940px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

#container {
    display: flex;
    text-align: center;
}    

.banner {
    width: 30%;
    opacity: 90%;
}

.overwrite {
    color: black;
    padding-right: 1.5rem;
    text-align: center;
  }    

.title {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}    

.subtitle {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    width: 100%;
    display: inline-block;
}    

.text {
    font-size: 1.5rem;
    padding-bottom: 16px;
}    

.link_projects {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--test-color-principal1);
}    

.page_projects {
    padding: 3em;
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.projeto_cordel {
    max-width: 350px;

    box-sizing: border-box;

    background-repeat: no-repeat;
    background-position: top 1.25rem left 2.5rem;

    padding: 2rem;
}

.projeto_apeperia {
    max-width: 350px;

    box-sizing: border-box;

    background-repeat: no-repeat;
    background-position: top 1.25rem left 2.5rem;

    padding: 2rem;
}

.your_project1 {
    max-width: 350px;

    box-sizing: border-box;

    background-repeat: no-repeat;
    background-position: top 1.25rem left 2.5rem;

    padding: 2rem;
    width: 100%;
}

img.your_project1{
    border-radius: 5px;
}

.text_projects {
    text-align: center;
}

.page_collaboration {
    padding: 3em;
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.all_apresentation {
    padding: 3rem;
    display: flex;
}

.apresentation1 {
    display: relative;
    flex-direction: column;
    text-align: center;
}

.perfil1 {
    position: relative;
    width: 26%;
    border: 3px solid;
    border-radius: 100%;
}

.text_perfil1 {
    display: relative;
    text-align: center;
}

.apresentation2 {
    display: relative;
    flex-direction: column;
    text-align: center;
}

.perfil2 {
    position: relative;
    width: 26%;
    border: 3px solid;
    border-radius: 100%;
}

.text_perfil2 {
    display: relative;
    text-align: center;
}

footer {
    background: rgb(76, 76, 76);
    text-align: center;
    padding: 40px 0;
}

.copyright {
    font-size: 13px;
    padding-top: 1.25rem;
  }


/* effects */

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.banner:hover {
    opacity: 0.8;
  }

  .btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    border-radius: 10px;
  }
  .btn.elastic {
    
    transition: all 0.6s cubic-bezier(0.65, -0.25, 0.25, 1.95);
    font-size:0.9em;
    font-family: 'open_sansregular';
    color: #ffffff;
    padding: 0.8em 1.2em;
    background: #000000;
    text-transform: uppercase;
  }
  .btn.elastic:hover, .btn.elastic:focus, .btn.elastic:active {
    
    letter-spacing: 0.220rem;
  }
  .btn.elastic:hover{
    background-color: #2c34ca;
  }
  footer img{
    max-width:12%;
    max-height:10%;
    width: auto;
    height: auto;
  }

  .baloon1:hover {
    font-size: 1.1rem;
    box-shadow: 0px 0px 10px #000000;
  }

  .baloon2:hover {
    font-size: 1.1rem;
    box-shadow: 0px 0px 8px #000000;
  }

  .your_project:hover {
    font-size: 1.1rem;
    box-shadow: 0px 0px 10px #000000;
  }
