@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
  --white: #edeff7;
  --background-secundary: #e1e2be;
  
  --test-color-principal: #ffffff;
  --test-color-principal1: #030abc;
  --test-color-principal2: #ffffff;

  --title-principal-size: 16px;
  --title-secundary-size: 14px;

  --montserrat: "Montserrat", sans-serif;
}
header {
  border-radius: 16px;
  width: 940px;
  margin: 0 auto;
  background-color: transparent;
}
section {
  /* background-color: var(--background-secundary); */
}

nav {
  width: 940px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: right;
  height: 168px;
}

.logo {
  position: absolute;
  margin-top: 2.5rem;
  width: 300px;
  height: auto;
}

nav ul {
  /* background-color: rgb(71, 55, 55); */
  border-radius: 16px;
  padding: 8px;
}

nav li {
  display: inline;
  padding: 16px;
}

.nav_link{
  color: var(--test-color-principal);
}

nav a {
  text-decoration: none;
  font-size: 24px;
}
nav a:hover {
  color: #6d14cc;
  text-decoration: underline;
}

.banner:hover {
  opacity: 0.6;
}
*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  background-image: url(bg-dark-mode.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -17rem;
}
.container {
  width: 80%;
  height: 80vh;
  display: flex;
  margin: 0 auto;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d14cc;
    padding: 1rem;
    border-radius: 20px 0px 0px 20px;
    box-shadow: #818181 -30px 20px 90px 1px;
}

.form-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffde;
    padding: 10rem;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 40px 20px 90px 1px #aaaaaa;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6C14CC;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
p { 
    margin-top: 5%;
    margin-left: -10%;
    margin-right: -10%;    
    font-size: 20px; 
    text-align: justify;   
}
h2 {
    margin-top: -20%;
    font-size: 20px;
    margin-left: -10%;
    margin-right: -10%;
}
h1{       
    font-size: 40px;
    margin-bottom: 30%;
    margin-left: -10%;
}
@media screen and (max-width: 1580px) {
    
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
                
    
}
.form{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
}

@media screen and (max-width: 1180px) {
    
    .container {
        width: 90%;
        height: 70%;           
    }
    .form{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    h1{
    margin-left: -10%;
    
    }
    body {
      display: inline-block;
  }
  .logo{margin-left: 10rem;}
}


